html {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

html,
body,
h1 {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
}

body, #root, .App,
.pageContainer {
    min-height: inherit;
    min-width: inherit;
}

button {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

input {
    font-size: 1rem;
    margin-top: 10px;
    letter-spacing: 1px;
}

#submitSearch {
    background: transparent;
    cursor: pointer;
}

#submitSearch:hover {
    background: grey;
}

.about {
    text-align: center;
}

.pageContainer {
    padding: 15px;
    margin: 15px;
}

.searchBarContainer {
    margin: 2rem auto;
    text-align: center;
}

.cardContainer {
    border: 1px dashed gray;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.imgRestraints {
    height: 5rem;
    width: 5rem;
}

.hireContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}